{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resume Project</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body class="bg-gradient-to-r from-indigo-200 via-purple-300 to-pink-100">

    <div class="bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500">
      {% if render_type == 'webpage' %} 
        {% block navbar %} 
          {% include "navbar.html" %} 
        {% endblock navbar %} 
      {% endif %}
    </div>

    <div class="bg-gradient-to-r from-indigo-100 via-emerald-300 to-pink-100 md:px-72 p-2 md:p-10 mb-10">
      <div class=" border border-black">
        {% block maincontent %}{% endblock maincontent %}
      </div>
    </div>

  </body>
</html>
