{% extends 'base.html' %} 
{% include "navbar.html" %} 
{% load static %} 
{% block maincontent %}

<div class="p-5">
  <div class="container mt-5">
    <div class="row">
      <!-- Left Column: Text Content -->
      <div class="col-md-8 text-left">
        <h3 class="text-white mt-3">{{ resumedata.name }}</h3>
        <h4 class="text-white mt-3 font-weight-bold">Career Objective</h4>
        <p class="text-white mt-3">{{ resumedata.career_objective|safe }}</p>
      </div>
      <!-- Right Column: Profile Image -->
      {% if render_type == 'webpage' %}
      <div class="col-md-4 text-center">
        <img
          src="{% static 'images/pritesh.png' %}"
          alt="Profile Image"
          class="profile-image mt-3"
        />
      </div>
      {% endif %}
    </div>
  </div>

  <style>
    .profile-image {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      object-fit: cover;
    }
  </style>

  <div class="p-3 text-left text-white">
    <hr class="border border-primary" />
    <h4 class="text-white mt-3 font-weight-bold mt-5">
      Contact Details And Social Profile
    </h4>
    <div class="row row-cols-2">
      <div class="col mt-2">Email: {{ resumedata.email }}</div>
      <div class="col mt-2">Phone: {{ resumedata.phone }}</div>
      <div class="col mt-2">City: {{ resumedata.city }}</div>
      <div class="col mt-2">Website: {{ resumedata.website }}</div>
      <div class="col mt-2">LinkedIn: {{ resumedata.linkedin }}</div>
      <div class="col mt-2">Skype: {{ resumedata.skype }}</div>
      <div class="col mt-2">GitHub: {{ resumedata.github }}</div>
      <div class="col mt-2">StackOverflow: {{ resumedata.stackoverflow }}</div>
    </div>
  </div>

  <hr class="border border-primary" />

  {% if resumedata %}
  <div class="mt-5">
    <h3 class="text-white">PROFESSIONAL EXPERIENCE</h3>
    {% for experience in resumedata.experiences.all %}
    <h4 class="text-white mt-4">{{ experience.title }}</h4>
    <p class="text-white">{{ experience.description|safe }}</p>
    {% endfor %}
  </div>
  {% else %}
  <p>No resume data available.</p>
  {% endif %}

  <hr class="border border-primary" />

  {% if resumedata %}
  <div class="mt-5">
    <h3 class="text-white">EDUCATION QUALIFICATION</h3>
    {% for education in resumedata.educational.all %}
    <h4 class="text-white mt-3">{{education.name_of_degree}}</h4>
    <div class="row row-col-3">
      <p class="text-white col">{{education.college_or_school_name}}</p>
      <p class="col text-white">{{education.passing_years}}</p>
      <p class="col text-white">{{education.percentage}}</p>
            {% endfor %}
          </div>
          <p>No resume data available.</p>
        {% endif %}

          <hr class="border border-primary" />

          {% if resumedata %}
          <div>
            <h3 class="text-white mt-4">SKILL SET</h3>
            <div class="d-flex flex-wrap mt-3">
              {% for skill in resumedata.skills.all %}
                <div class="p-2 text-white">{{ skill.skills }}</div>
              {% endfor %}
            </div>
          </div>
        {% else %}
          <p>No resume data available.</p>
        {% endif %}
        


          <hr class="border border-primary mt-5" />

          {% if resumedata %}
          <div class="mt-5">
            <h3 class="text-white">PROJECT DETAILS</h3>
            {% for project in resumedata.projects.all %}
              <h4 class="text-white mt-4">{{ project.project_title }}</h4>
              
              <p class="text-white border p-3" style="width: 100%;">{{ project.short_summary }}</p>
              
              <p class="text-white border p-3" style="width: 100%;">
                {{ project.project_description }}
              </p>
              
              <h4 class="text-white mt-4">Technologies and Tools Used:</h4>
              
              <p class="text-white border p-3" style="width: 100%;">
                {{ project.technologies_and_tools_used }}
              </p>
              
              <p class="text-white border p-3" style="width: 100%;">
                {{ project.conclusion }}
              </p>
            {% endfor %}
          </div>
        {% else %}
          <p>No resume data available.</p>
        {% endif %}
        



          <hr class="border border-primary mt-5" />

          {% if resumedata %}
          <div class="mt-5">
            <h3 class="text-white">SUMMARY</h3>
            {% for Summary in resumedata.Summarys.all %}
            <span class="text-white" style="margin-left: 30px">
             {{ Summary.Sort_Summary|safe}}
            </span>
            {% endfor %}
          </div>
          {% else %}
          <p>No resume data available.</p>
        {% endif %}

          <hr class="border border-primary mt-5" />

          {% if resumedata %}
          <div class="mt-5">
            <h3 class="text-white">LANGUAGES</h3>
            <div class="row row-cols-2">
              {% for language in resumedata.languages.all %}
              <div class="col mt-2 text-white">{{language.language_name}}</div>
              <div class="col mt-2 text-white">{{language.value}}</div>
              {% endfor %}
            </div>
          </div>
          {% else %}
          <p>No resume data available.</p>
          {% endif %}

          <hr class="border border-primary mt-5" />
          {% if render_type == 'webpage' %}
          <div class="text-center mt-5">
            <a
              href="{% url 'contact' %}"
              class="btn btn-outline-warning my-3 mx-2 custom-btn"
              >Hire Me</a
            >
            <a
              href="{% url 'contact' %}"
              class="btn btn-outline-info my-3 mx-2 custom-btn"
              >Contact</a
            >
            <a
              href="{% url 'generate_resume_pdf' %}"
              class="btn btn-outline-success my-3 mx-2 custom-btn"
              >Download Resume as PDF</a
            >
          </div>
          {% endif %}
        </div>
        {% endblock maincontent %}
      </div>
    </div>
  </div>
</div>
