{% extends "base.html" %} 
{% load static %}
 {% block maincontent %}
{% include "navbar.html" %}

<div class="container mt-5">
  <p class="text-warning mb-5 border-bottom">Services</p>

  <div class="row text-center text-white mb-5">
    <div class="col-sm-4">
      <i class="fas fa-search-dollar fa-2x mb-3"></i>
      <h3>SEO</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero aliquid voluptas similique nulla dolorum, ipsa obcaecati! Ullam at sit illo odit, rem dolor consequuntur dolorum eius. Ab ratione doloremque officiis magni vel, alias quam optio cupiditate repudiandae tenetur sint quo neque officia eveniet ea ad odio itaque saepe dolorem perferendis!</p>
        
    </div>

    <div class="col-sm-4">
      <i class="fas fa-search-dollar fa-2x mb-3"></i>
      <h3>SEO</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero aliquid voluptas similique nulla dolorum, ipsa obcaecati! Ullam at sit illo odit, rem dolor consequuntur dolorum eius. Ab ratione doloremque officiis magni vel, alias quam optio cupiditate repudiandae tenetur sint quo neque officia eveniet ea ad odio itaque saepe dolorem perferendis!</p>
        
    </div>

    <div class="col-sm-4">
      <i class="fas fa-search-dollar fa-2x mb-3"></i>
      <h3>SEO</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero aliquid voluptas similique nulla dolorum, ipsa obcaecati! Ullam at sit illo odit, rem dolor consequuntur dolorum eius. Ab ratione doloremque officiis magni vel, alias quam optio cupiditate repudiandae tenetur sint quo neque officia eveniet ea ad odio itaque saepe dolorem perferendis!</p>
        
    </div>
  </div>

  <div class="row text-center text-white mb-5">
    <div class="col-sm-4">
      <i class="fas fa-search-dollar fa-2x mb-3"></i>
      <h3>SEO</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero aliquid voluptas similique nulla dolorum, ipsa obcaecati! Ullam at sit illo odit, rem dolor consequuntur dolorum eius. Ab ratione doloremque officiis magni vel, alias quam optio cupiditate repudiandae tenetur sint quo neque officia eveniet ea ad odio itaque saepe dolorem perferendis!</p>
        
    </div>

    <div class="col-sm-4">
      <i class="fas fa-search-dollar fa-2x mb-3"></i>
      <h3>SEO</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero aliquid voluptas similique nulla dolorum, ipsa obcaecati! Ullam at sit illo odit, rem dolor consequuntur dolorum eius. Ab ratione doloremque officiis magni vel, alias quam optio cupiditate repudiandae tenetur sint quo neque officia eveniet ea ad odio itaque saepe dolorem perferendis!</p>
        
    </div>

    <div class="col-sm-4">
      <i class="fas fa-search-dollar fa-2x mb-3"></i>
      <h3>SEO</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero aliquid voluptas similique nulla dolorum, ipsa obcaecati! Ullam at sit illo odit, rem dolor consequuntur dolorum eius. Ab ratione doloremque officiis magni vel, alias quam optio cupiditate repudiandae tenetur sint quo neque officia eveniet ea ad odio itaque saepe dolorem perferendis!</p>
        
    </div>
  </div>

  
</div>

{% endblock maincontent %}
